In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df= pd.read_csv("deliveries.csv")
#df=df[df['batsman']=="V Kohli"]
# columns=["batsman","bowler","player_dismissed","dismissal_kind","batsman_runs"]
# df=df[df["bowler"]=="SK Warne"]
# df=df[df["dismissal_kind"]=="caught"]
# df=df[df["dismissal_kind"]=="caught and bowled"].count()
plt.figure(figsize=(40,40))
# df["dismiss"]=0
# df["player_dismissed"]=df["player_dismissed"].fillna(0)
# if (df[df["player_dismissed"]!=0]):
#     print(True)
# if (df["player_dismissed"].isnull()).all():
#     df["dismiss"]=0
# else:
#     df["dismiss"]=1
# df=df[df["dismiss"]==1]
# df=df[df["bowler"]=="TG Southee"]
# values=df["player_dismissed"].count()
# values
# out=df[df["player_dismissed"]=="Harbhajan Singh"]
# out.count()
# sns.countplot("bowler","")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [44]:
df1=pd.read_csv("matches.csv")
perform08=df1[df1["season"]==2008]
winners08=perform08["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2008")
winners08
plt.figure(figsize=(20,10))
# plt.bar(winners08.keys(),winners08.values,color="maroon")
df1=df1[df1["season"]==2018]
df1=df1[df1["winner"]=="Chennai Super Kings"]
df1
# count=pd.isnull(df1["umpire3"])
# count

no of matches won by each team in 2008

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
636,7894,2018,Mumbai,07/04/18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,1,DJ Bravo,Wankhede Stadium,Chris Gaffaney,A Nanda Kishore,Anil Chaudhary
640,7898,2018,Chennai,10/04/18,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,SW Billings,"MA Chidambaram Stadium, Chepauk",Anil Chaudhary,Chris Gaffaney,A Nanda Kishore
652,7910,2018,Pune,20/04/18,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,64,0,SR Watson,Maharashtra Cricket Association Stadium,Nitin Menon,K Ananthapadmanabhan,Rod Tucker
655,7913,2018,Hyderabad,22/04/18,Chennai Super Kings,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Chennai Super Kings,4,0,AT Rayudu,"Rajiv Gandhi International Stadium, Uppal",Anil Chaudhary,Vineet Kulkarni,Nigel Llong
659,7917,2018,Bengaluru,25/04/18,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,MS Dhoni,M Chinnaswamy Stadium,Nigel Llong,Virender Kumar Sharma,Anil Chaudhary
665,7923,2018,Pune,30/04/18,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,field,normal,0,Chennai Super Kings,13,0,SR Watson,Maharashtra Cricket Association Stadium,C Shamshuddin,Anil Dandekar,O Nandan
670,7928,2018,Pune,05/05/18,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,RA Jadeja,Maharashtra Cricket Association Stadium,Nitin Menon,Yeshwant Barde,Marais Erasmus
681,7939,2018,Pune,13/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,8,AT Rayudu,Maharashtra Cricket Association Stadium,Marais Erasmus,Yeshwant Barde,Anil Dandekar
691,7949,2018,Pune,20/05/18,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,L Ngidi,Maharashtra Cricket Association Stadium,Nitin Menon,Yeshwant Barde,Marais Erasmus
692,7950,2018,Mumbai,22/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,2,F du Plessis,Wankhede Stadium,Marais Erasmus,C Shamshuddin,S Ravi
695,7953,2018,Mumbai,27/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,8,SR Watson,Wankhede Stadium,Marais Erasmus,S Ravi,Nitin Menon

In [41]:
winner=df1[df1["season"]=="2018"]
winner

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [5]:
df2=df.rename({"match_id":"id"}, axis=1)
# df2=df2[df2["season"]=="2008"]
# df2=df2[df2["bowler"]=="SK Warne"]
# deli=df2[df2["bowler"]=="SK Warne"].count()
# count=df2["player_dismissed"].count()
# eco=deli/count'
# runs=df2["batsman_runs"].sum()

# over=df2["over"].count()
# df2["dismissal_kind"]=df2["dismissal_kind"].fillna(0)
# dict1={'caught':0,'bowled':0,'caught and bowled':0,"lbw":0,'run out':0}
# for i in df2["dismissal_kind"]:
#     if i not in dict1.keys():
#         dict1[i]=1
#     else:
#         dict1[i]+=1
        
# print(dict1)
# plt.bar(dict1.keys(),dict1.values)
# runs

In [6]:
ipl=pd.merge(df1,df2,on="id")
# runs=ipl["batsman_runs"].sum()
# ipl=ipl[ipl["season"]==2008]
# runs=ipl["batsman_runs"].sum()
# balls=ipl["ball"].count()
# runs
# ipl=ipl[ipl["season"]==2018]
# rcb=ipl[ipl["batting_team"]=="Royal Challengers Bangalore"]
# rcb=rcb[rcb["batsman"]=="V Kohli"]
ipl

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [7]:
ipl_08=ipl[ipl['season']==2008]
ipl_09=ipl[ipl['season']==2009]
ipl_10=ipl[ipl['season']==2010]
ipl_11=ipl[ipl['season']==2011]
ipl_12=ipl[ipl['season']==2012]
ipl_13=ipl[ipl['season']==2013]
ipl_14=ipl[ipl['season']==2014]
ipl_15=ipl[ipl['season']==2015]
ipl_16=ipl[ipl['season']==2016]
ipl_17=ipl[ipl['season']==2017]
ipl_18=ipl[ipl['season']==2018]
ipl_19=ipl[ipl['season']==2019]
# ipl_08[ipl_08["batsman"]=="V Kohli"]
# ipl_08["season"]=ipl_08["season"].fillna(2008)
# count=ipl_08[ipl_08["season"]==np.nan]
# count
# total_null=ipl_17.isnull().sum()
# percent=total_null/ipl_17.isnull().count()
# percent
# print("No of wickets taken by shane warne in ipl 2008")
# overs=warne["over"].count()
ipl_19

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
164750,11137,2019,Chennai,23/03/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164751,11137,2019,Chennai,23/03/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164752,11137,2019,Chennai,23/03/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164753,11137,2019,Chennai,23/03/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164754,11137,2019,Chennai,23/03/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [8]:
batsman=set(df["batsman"])
dict2={}
for i in df["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=df[df["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict={}
for i in df["batsman"]:
    if i in batsman:
        dict[i]=0
for i in dict:
    batter=df[df["batsman"]==i]
    balls_faced=batter["batsman_runs"].count()
    dict[i]=balls_faced

d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_df=pd.DataFrame(d)
batter_df=batter_df.sort_values(by="total runs",ascending=False)
batter_df.head(20)

#dict2[i]=runs
#dict2
#batter_df["sixes"]=six
#batter_df

           batsman  total runs
87         V Kohli        5434
33        SK Raina        5415
19       RG Sharma        4914
0        DA Warner        4741
1         S Dhawan        4632
6         CH Gayle        4560
30        MS Dhoni        4477
64      RV Uthappa        4446
71  AB de Villiers        4428
36       G Gambhir        4223
26       AM Rahane        3850
35      KD Karthik        3688
10       SR Watson        3614
21       AT Rayudu        3326
66       YK Pathan        3241
32     BB McCullum        2893
17        PA Patel        2874
65       MK Pandey        2872
23      KA Pollard        2784
3     Yuvraj Singh        2765

In [9]:
# STRIKE RATES OF THE WINNING CAPTAIN 2008
batsman=set(ipl_08["batsman"])
dict2={}
for i in ipl_08["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_08[ipl_08["batsman"]==i] 
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict3={}
for i in ipl_08["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_08[ipl_08["batsman"]==i]
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_08=pd.DataFrame(d)
batter_ipl_08.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2008")
print(batter_ipl_08.head(5))
# batter_ipl_08=batter_ipl_08.sort_values(by="total runs",ascending=False)
# STRIKE RATE OF THE WINNING CAPTAIN 2009
batsman=set(ipl_09["batsman"])
dict2={}
for i in ipl_09["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_09[ipl_09["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
for i in ipl_09["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_09[ipl_09["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
dict2
batter_ipl_09=pd.DataFrame(d)
batter_ipl_09=batter_ipl_09.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2009")
print(batter_ipl_09.head(5))

# STRIKE RATE OF THE WINNING CAPTAIN 2010
batsman=set(ipl_10["batsman"])
dict2={}
for i in ipl_10["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_10[ipl_10["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_10["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_10[ipl_10["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
    
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_10=pd.DataFrame(d)
batter_ipl_10=batter_ipl_10.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2010")
print(batter_ipl_10.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2011
batsman=set(ipl_11["batsman"])
dict2={}
for i in ipl_11["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_11[ipl_11["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_12["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_12[ipl_12["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_11=pd.DataFrame(d)
batter_ipl_11=batter_ipl_11.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2011")
print(batter_ipl_11.head(5))

# STRIKE RATE OF THE WINNING CAPTAIN 2012
batsman=set(ipl_12["batsman"])
dict2={}
for i in ipl_12["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_12[ipl_12["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_12["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_12[ipl_12["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_12=pd.DataFrame(d)
batter_ipl_12=batter_ipl_12.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2012")
print(batter_ipl_12.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2013
batsman=set(ipl_13["batsman"])
dict2={}
for i in ipl_13["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_13[ipl_13["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_13["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_13[ipl_13["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_13=pd.DataFrame(d)
batter_ipl_13=batter_ipl_13.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2013")
print(batter_ipl_13.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2014
batsman=set(ipl_14["batsman"])
dict2={}
for i in ipl_14["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_14[ipl_14["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_14["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_14[ipl_14["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_14=pd.DataFrame(d)
batter_ipl_14=batter_ipl_14.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2014")
print(batter_ipl_14.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2015
batsman=set(ipl_15["batsman"])
dict2={}
for i in ipl_15["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_15[ipl_15["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_15["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_15[ipl_15["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_15=pd.DataFrame(d)
batter_ipl_15=batter_ipl_15.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2015")
print(batter_ipl_15.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2016
batsman=set(ipl_16["batsman"])
dict2={}
for i in ipl_16["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_16[ipl_16["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_16["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_16[ipl_16["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_16=pd.DataFrame(d)
batter_ipl_16=batter_ipl_16.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2016")
print(batter_ipl_16.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2017
batsman=set(ipl_17["batsman"])
dict2={}
for i in ipl_17["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_17[ipl_17["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
for i in ipl_17["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_17[ipl_17["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_17=pd.DataFrame(d)
batter_ipl_17=batter_ipl_17.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2017")
print(batter_ipl_17.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2018\
batsman=set(ipl_18["batsman"])
dict2={}
for i in ipl_18["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_18[ipl_18["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
dict2
dict3={}
for i in ipl_18["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_18[ipl_18["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_18=pd.DataFrame(d)
batter_ipl_18=batter_ipl_18.sort_values(by="total runs",ascending=False)
print("Top 5 players with most runs in 2018")
print(batter_ipl_18.head(5))
# STRIKE RATE OF THE WINNING CAPTAIN 2019
batsman=set(ipl_19["batsman"])
dict2={}
for i in ipl_19["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=ipl_19[ipl_19["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    batsman_runs=batter['batsman_runs'].sum()
    balls_faced=batter['ball'].count()
    dict2[i]=batsman_runs
dict3={}
for i in ipl_19["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict2:
    batter=ipl_19[ipl_19["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    balls_faced=batter['ball'].count()
    dict3[i]=balls_faced
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_ipl_19=pd.DataFrame(d)
print("Top 5 players with most runs in 2019")
batter_ipl_19=batter_ipl_19.sort_values(by="total runs",ascending=False)
# batter_ipl_18
print(batter_ipl_19.head(5))

Top 5 players with most runs in 2008
           batsman  total runs
0       SC Ganguly         349
1      BB McCullum         188
2       RT Ponting          39
3        DJ Hussey         319
4  Mohammad Hafeez          64
Top 5 players with most runs in 2009
           batsman  total runs
10       ML Hayden         572
56    AC Gilchrist         495
72  AB de Villiers         465
9         SK Raina         434
73      TM Dilshan         418
Top 5 players with most runs in 2010
         batsman  total runs
16  SR Tendulkar         618
49     JH Kallis         572
60      SK Raina         528
1     SC Ganguly         493
58       M Vijay         458
Top 5 players with most runs in 2011
          batsman  total runs
122      CH Gayle         608
38        V Kohli         557
54   SR Tendulkar         553
58       SE Marsh         504
89     MEK Hussey         492
Top 5 players with most runs in 2012
      batsman  total runs
98   CH Gayle         733
18  G Gambhir         590
78   S Dhawan         569
47  AM Rahane         560
27   V Sehwag         495
Top 5 players with most runs in 2013
       batsman  total runs
58  MEK Hussey         733
16    CH Gayle         720
18     V Kohli         639
60    SK Raina         548
78   SR Watson         543
Top 5 players with most runs in 2014
       batsman  total runs
3   RV Uthappa         660
25    DR Smith         566
32  GJ Maxwell         552
37   DA Warner         528
27    SK Raina         523
Top 5 players with most runs in 2015
           batsman  total runs
47       DA Warner         562
82     LMP Simmons         540
29       AM Rahane         540
61  AB de Villiers         513
58         V Kohli         505
Top 5 players with most runs in 2016
           batsman  total runs
42         V Kohli         973
47       DA Warner         848
43  AB de Villiers         687
25       G Gambhir         501
48        S Dhawan         501
Top 5 players with most runs in 2017
      batsman  total runs
0   DA Warner         641
36  G Gambhir         498
1    S Dhawan         479
28  SPD Smith         472
33   SK Raina         442
Top 5 players with most runs in 2018
          batsman  total runs
59  KS Williamson         747
21        RR Pant         717
25       KL Rahul         678
7       AT Rayudu         615
51     JC Buttler         574
Top 5 players with most runs in 2019
       batsman  total runs
16   DA Warner         727
45    KL Rahul         610
36   Q de Kock         555
25  AD Russell         545
28    S Dhawan         542

In [10]:
batsman=set(df["batsman"])
dict2={}
for i in df["batsman"]:
    if i in batsman:
        dict2[i]=0
for i in dict2:
    batter=df[df["batsman"]==i]
    runs=batter["batsman_runs"].sum()
    dict2[i]=runs
d={"batsman":dict2.keys(),"total runs":dict2.values()}
batter_df=pd.DataFrame(d)
dict3={}
for i in df["batsman"]:
    if i in batsman:
        dict3[i]=0
for i in dict3:
    batter1=df[df["batsman"]==i]
    sixes=batter1[batter1["batsman_runs"]==6].count()
    dict3[i]=sixes["batsman_runs"]
dict4={}
for i in df["batsman"]:
    if i in batsman:
        dict4[i]=0
for i in dict4:
    batter1=df[df["batsman"]==i]
    sixes=batter1[batter1["batsman_runs"]==4].count()
    dict4[i]=sixes["batsman_runs"]
sixes={"batsman":dict2.keys(),"Number of boundaries":dict4.values()}
six_df=pd.DataFrame(sixes)
# six_df.sort_values(by="Number of sixes",ascending=False)
six_df.sort_values(by="Number of boundaries",ascending=False).head(10)
# sns.barplot(x="batsman",y="Number of sixes",data="merged_df")

       batsman  Number of boundaries
1     S Dhawan                   526
33    SK Raina                   495
36   G Gambhir                   492
87     V Kohli                   482
0    DA Warner                   459
64  RV Uthappa                   436
19   RG Sharma                   431
26   AM Rahane                   405
6     CH Gayle                   376
17    PA Patel                   366

In [ ]:
# BOWLERS STRIKE RATE:
bowlers=set(df["bowler"])
dict1={}
wkts=0
# null=pd.isnull(df["player_dismissed"])
for i in df["bowler"]:
    if i in bowlers:
        dict1[i]=0
dict1
# df=df.head()
for i in dict1:
    bowler=df[df["bowler"]==i]
    wkts=bowler["player_dismissed"].count()
    dict1[i]=wkts
dict4={}
for i in bowlers:
    bowler=df[df["bowler"]==i]
    balls=bowler["ball"].sum()
    dict4[i]=balls
# j=dict1[0]
D={"bowler":dict1.keys(),"total wickets":dict1.values()}
bowler_df=pd.DataFrame(D)
bowler_df.sort_values(by="total wickets",ascending=False).head(10)

In [ ]:
perform08=df1[df1["season"]==2008]
winners08=perform08["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2010")
winners08
plt.figure(figsize=(20,10))
plt.bar(winners08.keys(),winners08,color="maroon")

In [ ]:
perform09=df1[df1["season"]==2009]
winners09=perform09["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2010")
winners09
plt.figure(figsize=(20,10))
plt.bar(winners09.keys(),winners09,color="maroon")

In [ ]:
perform10=df1[df1["season"]==2010]
winners10=perform10["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2010")
winners10
plt.figure(figsize=(20,10))
plt.bar(winners10.keys(),winners10,color="maroon")

In [ ]:
perform12=df1[df1["season"]==2011]
winners11=perform12["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2010")
winners11
plt.figure(figsize=(30,10))
plt.bar(winners11.keys(),winners11,color="maroon")

In [ ]:
perform12=df1[df1["season"]==2012]
winners12=perform12["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2012")
winners12
plt.figure(figsize=(20,10))
plt.bar(winners12.keys(),winners12.values,color="maroon")

In [ ]:
perform13=df1[df1["season"]==2013]
winners13=perform13["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2013")
winners13
plt.figure(figsize=(20,10))
plt.bar(winners13.keys(),winners13.values,color="maroon")

In [ ]:
perform14=df1[df1["season"]==2014]
winners14=perform14["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2014")
winners14
plt.figure(figsize=(20,10))
plt.bar(winners14.keys(),winners14.values,color="maroon")

In [ ]:
perform15=df1[df1["season"]==2015]
winners15=perform15["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2015")
winners15
plt.figure(figsize=(20,10))
plt.bar(winners15.keys(),winners15.values,color="maroon")

In [ ]:
perform16=df1[df1["season"]==2016]
winners16=perform16["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2016")
winners16
plt.figure(figsize=(20,10))
plt.bar(winners16.keys(),winners16.values,color="maroon")

In [ ]:
perform17=df1[df1["season"]==2017]
winners17=perform17["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2017")
# winners09
plt.figure(figsize=(20,10))
plt.bar(winners17.keys(),winners17.values,color="maroon")

In [ ]:
perform18=df1[df1["season"]==2018]
winners18=perform18["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2009")
winners18
plt.figure(figsize=(20,10))
plt.bar(winners18.keys(),winners18.values,color="maroon")

In [ ]:
perform19=df1[df1["season"]==2019]
winners19=perform19["winner"].value_counts(ascending=False)
print("no of matches won by each team in 2019")
winners19
plt.figure(figsize=(20,10))
plt.bar(winners19.keys(),winners19.values,color="maroon")

In [ ]:
# most_wins=ipl_08[ipl_08[""]]
ipl_08=ipl_08[ipl_08["winner"]=="Royal Challengers Bangalore"]
# plt.figure(figsize=(30,10))
sns.countplot(x="winner",hue="winner",data=ipl_08)

In [ ]:
warne=ipl_08[ipl_08["bowler"]=="Shane Warne"]

In [ ]:
# ipl_08=ipl_08["batsman_runs"].fillna(0)
kohli_08=ipl_08[ipl_08["batsman"]=="V Kohli"]
kohli_runs= kohli_08['batsman_runs'].sum()
balls_faced=kohli_08['ball'].count()
sr08= (kohli_runs/balls_faced)
sr08=float("%.2f"%sr08)*100
sr08

In [ ]:
kohli_09=ipl_09[ipl_09["batsman"]=="V Kohli"]
kohli_runs= kohli_09['batsman_runs'].sum()
balls_faced=kohli_09['ball'].count()
sr09=(kohli_runs/balls_faced)
sr09=float("%.2f"%sr09)*100
sr09

In [ ]:
kohli_10=ipl_10[ipl_10["batsman"]=="V Kohli"]
kohli_runs= kohli_10['batsman_runs'].sum()
balls_faced=kohli_10['ball'].count()
sr10= (kohli_runs/balls_faced)*100
sr10=float("%.2f"%sr10)
sr10

In [ ]:
kohli_11=ipl_11[ipl_11["batsman"]=="V Kohli"]
kohli_runs= kohli_11['batsman_runs'].sum()
balls_faced=kohli_11['ball'].count()
sr11= (kohli_runs/balls_faced)*100
sr11=float("%.2f"%sr11)
balls_faced

In [ ]:
kohli_12=ipl_12[ipl_12["batsman"]=="V Kohli"]
kohli_runs= kohli_12['batsman_runs'].sum()
balls_faced=kohli_12['ball'].count()
sr12= (kohli_runs/balls_faced)*100
sr12=float("%.2f"%sr12)
sr12

In [ ]:
kohli_13=ipl_13[ipl_13["batsman"]=="V Kohli"]
kohli_runs= kohli_13['batsman_runs'].sum()
balls_faced=kohli_13['ball'].count()
sr13= (kohli_runs/balls_faced)*100
sr13=float("%.2f"%sr13)
balls_faced

In [ ]:
kohli_14=ipl_14[ipl_14["batsman"]=="V Kohli"]
kohli_runs= kohli_14['batsman_runs'].sum()
balls_faced=kohli_14['ball'].count()
sr14= (kohli_runs/balls_faced)*100
sr14=float("%.2f"%sr14)
balls_faced

In [ ]:
kohli_15=ipl_15[ipl_15["batsman"]=="V Kohli"]
kohli_runs= kohli_15['batsman_runs'].sum()
balls_faced=kohli_15['ball'].count()
sr15= (kohli_runs/balls_faced)*100
sr15=float("%.2f"%sr15)
balls_faced

In [ ]:
kohli_16=ipl_16[ipl_16["batsman"]=="V Kohli"]
kohli_runs16=kohli_16["batsman_runs"].sum()
balls_faced=kohli_16['ball'].count()
sr16= (kohli_runs16/balls_faced)*100
sr16=float("%.2f"%sr16)
sr16

In [ ]:
kohli_17=ipl_17[ipl_17["batsman"]=="V Kohli"]
kohli_runs17=kohli_17['batsman_runs'].sum()

balls_faced=kohli_17['ball'].count()
sr17= (kohli_runs17/balls_faced)*100
sr17=float("%.2f"%sr17)
sr17
# print("%.2f"%sr17)

In [ ]:
kohli_18=ipl_18[ipl_18["batsman"]=="V Kohli"]
kohli_runs18=kohli_18['batsman_runs'].sum()


balls_faced=kohli_18['ball'].count()
sr18= (kohli_runs18/balls_faced)*100
sr18=float("%.2f"%sr18)
sr18
# print("%.2f"%sr18)

In [ ]:
kohli_19=ipl_19[ipl_19["batsman"]=="V Kohli"]
kohli_runs19= kohli_19['batsman_runs'].sum()
balls_faced=kohli_19['ball'].count()
sr19= (kohli_runs19/balls_faced)*100
sr19=float("%.2f"%sr19)
print("%.2f"%sr19)

In [ ]:
dict1={'2008':sr08,'2009':sr09,'2010':sr10,'2011':sr11,'2012':sr12,'2013':sr13,'2014':sr14,'2015':sr15,'2016':sr16,'2017':sr17,'2018':sr18,'2019':sr19}
season=list(dict1.keys())
runs=list(dict1.values())
plt.figure(figsize=(10,5))
plt.bar(season,runs,width=0.4,color="violet")
plt.xlabel("Seasons")
plt.ylabel("Strike rate")
plt.title("Virat Kohli's strike rate from 2008-present")

In [ ]:
csk=